.form-input{
    margin-top: 20px;
    border-radius: 5px;
    width: 40%;
    padding: 10px;
}
.signIn-btn{
    margin-top: 20px;
    border-radius: 5px;
    width:40%;
    padding: 10px;
    background-color: rgb(71, 164, 222);
    border: none;
    color: white;
    font-weight: 700;
}
.google-signin , .fb-signin{
    margin-top: 20px;
    border-radius: 5px;
    width:40%;
    padding: 10px;
    border: none;
    border: none;
    color: white;
    font-weight: 700;    
}
.fb-signin{
    background-color: steelblue;
}
.google-signin{
    background-color: rgb(6, 171, 89);
}